.App {
  flex-grow: 1;
  height: 100%;
  width: "auto";
}

.App-header {
  flex-grow: 1;
}

.App-main {
  min-height: calc(100vh - 122px);
}
.App-main-content {
  margin: 0 auto;
}

.App-footer {
  height: 50px;
  width: 100%;
  box-shadow: 0 0 5pt 2pt #D3D3D3;
  display: inline-flex;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
